body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: 'Arial', sans-serif;
}
.navbar {
    background-color: #1a1a1a;
    border-bottom: 2px solid #39ff14;
}
.navbar a {
    color: #39ff14 !important;
    font-weight: bold;
}
.navbar .btn-subscribe {
    background-color: #39ff14; /* Warna biru cerah */
    color: rgb(0, 0, 0) !important; /* Warna teks putih */
    padding: 8px 16px; /* Ruang dalam tombol */
    border-radius: 5px; /* Sudut agak membulat */
    font-weight: bold; /* Teks tebal */
}

.navbar .btn-subscribe:hover {
    background-color: #37c456; /* Warna saat hover */
    color: rgb(5, 2, 2) !important; /* Tetap putih */
}
.header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(70deg, #222, #01440b);
}
.header h1 {
    font-size: 3rem;
    color: #fff;
}
.section-intro {
    padding: 50px;
    background-color: #222;
    text-align: center;
}
.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.section-intro p {
    font-size: 1.2rem;
    color: #b3b3b3;
    margin-top: 20px;
}
.section-electronics {
    padding: 50px;
    background-color: #222;
}
.card {
    background-color: #333;
    border: none;
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.5);
}
.card-title {
    color: #39ff14;
}
.card-body p {
    color: #b3b3b3;
}
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.join-community {
    background-color: #1a1a1a;
    padding: 50px;
    text-align: center;
}
.join-community h2 {
    color: #39ff14;
    margin-bottom: 10px;
}

.join-community form .form-control {
    background-color: #6e6c6c;
    color: white;
    border: 1px solid #555;
    box-shadow: none;
}

.join-community .btn-neon {
    background-color: #969896;
    color: black;
    padding: 10px 20px;
    border-radius: 0;
    transition: background-color 0.3s;
}

.join-community .btn-neon:hover {
    background-color: #39ff14;
}
.footer {
    padding: 20px;
    background-color: #1a1a1a;
    text-align: center;
    border-top: 2px solid #39ff14;
}
.footer a {
    color: #12c2e9 !important;
}